body {
    font-family: 'Montserrat', sans-serif;
    background-image: url(../img/fondo3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
}

/* Estilos para el encabezado */
header {
    position: fixed;
    z-index: 100;
    background: rgb(20, 74, 128);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    top: 0; /* Fija el encabezado en la parte superior de la pantalla */
    left: 0; /* Fija el encabezado en la parte izquierda de la pantalla */
    width: 100%;
    
}

/* Estilos para la barra de búsqueda y el botón de ofertas */
.header-top {
    position: fixed;
    display: flex;
    align-items: center;
    max-width: 1200px; /* Ancho máximo del contenido */
    width: 100%;
    padding: 0 15px; /* Espacio alrededor del contenido */
    margin: auto;
}

#filtro {
    flex: 1;
    padding: 5px;
    margin: 0 10px;
    width: 100%; /* Ajusta el ancho de la barra de búsqueda */
    max-width: 250px; /* Ancho máximo de la barra de búsqueda */
    border: none;
    background-color: #333;
    color: #fff;
}

#mostrar-ofertas,
#mostrar-descuentos,
#mostrar-combos,
a[href="Ingresar.html"],
a[href="Formulario_Contacto.html"] {
    font-size: 16px;
    padding: 5px 10px;
    background-color: transparent;
    color: #fff;
    transition: background-color 0.3s, color 0.3s;
    border: none;
}

#mostrar-ofertas:hover,
#mostrar-descuentos:hover,
#mostrar-combos:hover,
a[href="Ingresar.html"]:hover,
a[href="Formulario_Contacto.html"]:hover {
    background-color: orange;
    color: #fff;
    border: none;
}

a.boton-enlace,
a[href="Ingresar.html"],
a[href="Formulario_Contacto.html"] {
    font-size: 16px;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    text-decoration: none;
    color: #fff;
    background-color: transparent;
   
}

.boton-enlace:hover{
    background-color: orange;
    cursor: pointer;
}

#carrito-productos {
    margin-top: 0px; /* Ajusta este valor según la altura de tu encabezado */
}

/* Asegurar que el encabezado no oculte el contenido de carritos al hacer scroll */
@media screen and (max-width: 768px) {
    #carrito-productos {
        margin-top: 110px; /* Ajusta este valor para dispositivos móviles */
    }
}
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 18px;
    padding: 15px;
    margin-top: 50px;
    margin-bottom: 0px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.5);
    overflow: hidden;
}

.single-product {
    width: calc(20% - 36px); /* Ajusta el ancho de los productos según tu preferencia */
    height: auto;
    margin: 7px;
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.5);
    transition: box-shadow 0.3s ease;
    overflow: hidden;
    background: #414852;
    border-radius: 15px;
    display: block;
}

/* Estilos para dispositivos móviles */
@media screen and (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .single-product {
        width: 100%; /* Un producto por línea en dispositivos móviles */
        margin: 10px 0; /* Espacio entre productos en dispositivos móviles */
    }
}
 
.single-product:hover {
    transform: translateY(-10px);
}

.product-image {
    position: relative;
    width: 100%;
    height: 200px;
    overflow: hidden;
}

.product-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.product-image:hover img {
    transform: scale(1.1);
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgba(144, 204, 24, 0.8);
    opacity: 0;
    transition: opacity 0.3s ease;
}

.single-product:hover .overlay {
    opacity: 1;
}

.Añadir_al_Carrito, .view-details {
    background-color: #fff;
    color: #333;
    padding: 10px 15px;
    border-radius: 4px;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    margin-bottom: 10px;
}

.Añadir_al_Carrito:hover, .view-details:hover {
    background-color: orangered;
    color: #fff;
    border: none;
}

.info {
    padding: 10px;
    text-align: center;
    color: #ddd;
}

.info h3 {
    margin: 15px 0 10px;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'Bebas Neue', sans-serif;
}

.info .price {
    margin: 0;
    font-size: 25px;
    font-weight: bold;
    color: aqua;
}

.titulo-1 {
    text-align: center;
    color: white;
    background-color: orange;
}


/* slider */
.slider-frame {
    width: 1280px;
    height: auto;
    margin: 50px auto 0;
    overflow: hidden;
}

.slider-frame ul {
    display: flex;
    padding: 0;
    width: 400%;
    justify-content: center; /* Centra las imágenes inicialmente */
    animation: slide 20s infinite alternate ease-in-out;
}

.slider-frame li {
    width: 100%;
    list-style: none;
}

.slider-frame img {
    width: 40%;
}

@keyframes slide {
    0% { margin-left: 25%; } /* Cambia el valor de inicio para centrar */
    20% { margin-left: 25%; }
    
    25% { margin-left: -75%; }
    45% { margin-left: -75%; }
    
    50% { margin-left: -175%; }
    70% { margin-left: -175%; }
    
    75% { margin-left: -275%; }
    100% { margin-left: -275%; }
}
/* slider */

/* Estilos del footer para pantallas grandes */
.pie-pagina {
    width: 100%;
    background-color: #0a141d;
    color: white;
}

/* Estilos para el grupo 1 del footer en pantallas grandes */
.pie-pagina .grupo-1 {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 50px;
    padding: 45px 0px;
}

/* Estilos para el grupo 2 del footer en pantallas grandes */
.pie-pagina .grupo-2 {
    background-color: #0a1a2a;
    padding: 15px 10px;
    text-align: center;
    color: #fff;
}

/* Estilos para los íconos de redes sociales en pantallas grandes */
.pie-pagina .grupo-1 .red-social a {
    /* Si necesitas ajustar el tamaño de los íconos, puedes hacerlo aquí */
    display: inline-block;
    text-decoration: none;
    width: 45px; /* Tamaño de los íconos */
    height: 45px; /* Tamaño de los íconos */
    line-height: 45px;
    color: #fff;
    margin-right: 10px;
    background-color: #0d2033;
    text-align: center;
    transition: all 300ms ease;
}

/* Estilos para el texto en el footer en pantallas grandes */
.pie-pagina .grupo-2 small {
    font-size: 15px;
}

#datos-clima {
    text-align: center;
}

/* Estilos del footer para dispositivos móviles */
@media screen and (max-width: 768px) {
    .pie-pagina {
        padding: 15px 10px;
    }

    .pie-pagina .grupo-1 {
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 30px;
        padding: 35px 0px;
    }
    
    .pie-pagina .grupo-1 .box figure img {
        width: 100px; /* Ajusta el tamaño de las imágenes de las redes sociales en dispositivos móviles */
    }
}
